@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@500&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:root {
  --menuX: 0px;
  --menuY: 0px;
  --cursorX: 0px;
  --cursorY: 0px;
  --validationMsgY: 15px;
  --bodyEvents: all;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  pointer-events: var(--bodyEvents);
}
nav,
.validation-message {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  box-shadow: rgba(0, 0, 0, 0.437) 0px 5px 15px;
}

.main {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(234, 249, 249, 0.67) 0.1%,
    rgba(239, 249, 251, 0.63) 90.1%
  );
  box-shadow: rgba(0, 0, 0, 0.229) 0px 5px 15px inset;
}
.menu-position {
  top: var(--menuY);
  left: var(--menuX);
}
.circular-cursor {
  background-color: transparent;
  border: 2px dashed rgb(255, 255, 255);
  box-shadow: rgba(255, 255, 255, 0.982) 0px 0px 20px;
  transition: all 50ms ease;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  position: absolute;
  top: var(--cursorY);
  left: var(--cursorX);
}
.disable-cursor {
  cursor: none;
}
.menu-position button li {
  pointer-events: none;
}
.show-case {
  animation: fadeIn 1.5s;
}
.validation-message {
  left: 10px;
  bottom: var(--validationMsgY);
}
.leader-board {
  box-shadow: rgba(0, 0, 0, 0.595) 0px 0px 20000px 5000px;
  left: calc(50% - 225px);
  top: 100px;
  pointer-events: all;
}

.user-name-field {
  border-radius: 10px;
  left: calc(50% - 300px);
  top: calc(25%);
  box-shadow: rgba(0, 0, 0, 0.595) 0px 0px 20000px 5000px;
  pointer-events: all;
}
